@import "tailwindcss";

@theme {
  --color-brand: #01204e;
  --color-accent: #D4C9BE;
  --color-surface: #F1EFEC;
  --color-dark: #030303;
}

.italiana {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.char {
  background: linear-gradient(90deg, #4B0082, #01204e);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0.2; /* start faded */
}

/* .char {
  background: linear-gradient(90deg, #facc15, #01204e);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow:
    0 0 4px #fff,
    0 0 8px #facc15,
    0 0 16px #facc15,
    0 0 32px #01204e;
} */
